@font-face {
  font-family: "poppins-black";
  src: url("../assets/fonts/PoppinsLatin-Black.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/PoppinsLatin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-semibold";
  src: url("../assets/fonts/PoppinsLatin-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../assets/fonts/PoppinsLatin-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-regular";
  src: url("../assets/fonts/PoppinsLatin-Regular.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #00A6F4;
  --color-secondary: #FF6900;
  --color-base-background: #FFFFFF;
  --color-primary-text: #000000;
  --color-secondary-text: #7D7D7D;
  --color-glass-background: rgba(255, 255, 255, 0.2);
  /* Fonts */
  --font-poppins-black: "poppins-black";
  --font-poppins-bold: "poppins-bold";
  --font-poppins-semibold: "poppins-semibold";
  --font-poppins-medium: "poppins-medium";
  --font-poppins-regular: "poppins-regular";
  /* Shadows */
  --shadow-glass: 0px 8px 31px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  --shadow-circle: 0px 0px 100px 30px rgb(0, 0, 0, 0.2);
}

@layer base {
  input {
    outline: none;
  }
}

@layer utilities {
  .container {
    @apply max-w-[1500px] h-full mx-auto;
  }
}

@layer components {
  body {
    @apply font-poppins-medium text-sm lg:text-[15px] xl:text-base;
  }

  /* Circles Wrapper */
  .circle {
    @apply size-40 absolute rounded-full shadow-circle opacity-40 blur-xl -z-50 lg:size-50;
  }

  .circle1, .circle3 {
    @apply bg-primary shadow-primary;
  }

  .circle2, .circle4 {
    @apply bg-secondary shadow-secondary;
  }

  /* Header Section */
  #header,
  #main {
    @apply max-w-[630px] mx-auto;
  }

  #theme-btn,
  .searchbox,
  #info-btn {
    @apply bg-glass-background flex items-center shadow-glass rounded-full [&_svg]:fill-primary-text [&_svg]:size-5;
  }

  #theme-btn,
  #info-btn {
    @apply size-10 justify-center cursor-pointer [&_svg]:transition-colors [&_svg]:duration-200 hover:[&_svg]:fill-primary active:[&_svg]:fill-primary;
  }

  /* Main Section */
  .day,
  .clock {
    @apply text-[15px] md:text-base lg:text-lg;
  }

  .humidity-wrapper,
  .wind-wrapper,
  .pressure-wrapper {
    @apply p-2 flex flex-col justify-start gap-y-2 rounded-xl;
  }

  .humidity-icon,
  .wind-icon,
  .pressure-icon {
    @apply [&>svg]:size-5 lg:[&>svg]:size-6;
  }

  /* .humidity-title,
  .wind-title,
  .pressure-title {
    @apply ;
  } */

  .humidity,
  .wind,
  .pressure {
    @apply font-poppins-semibold;
  }
}