@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/PoppinsLatin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../assets/fonts/PoppinsLatin-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-regular";
  src: url("../assets/fonts/PoppinsLatin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "dana-bold";
  src: url("../assets/fonts/Dana-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "dana-medium";
  src: url("../assets/fonts/Dana-Medium.ttf") format("truetype");
}


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary: rgba(255, 255, 255, 0);
  --color-secondary: rgba(255, 255, 255, 0);
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #D1D5DC;
  --color-base-background: #E5E7EB;
  --color-glass-background: rgba(255, 255, 255, 0.2);
  --color-icon: #FFFFFF;
  /* Fonts */
  --font-poppins-bold: "poppins-bold";
  --font-poppins-medium: "poppins-medium";
  --font-poppins-regular: "poppins-regular";
  --font-dana-bold: "dana-bold";
  --font-dana-medium: "dana-medium";
  /* Shadows */
  --shadow-glass: 0px 8px 31px rgba(0, 0, 0, 0.1), inset 1px 1px 0px rgba(255, 255, 255, 0.5), inset -1px -1px 0px rgba(255, 255, 255, 0.2);
  /* Backdrop Blur */
  --backdrop-blur-primary: 5px;
}

@layer base {
  body {
    @apply bg-base-background text-primary-text font-poppins-medium text-sm lg:text-[15px] xl:text-base;
  }
}

@layer utilities {
  .container {
    @apply max-w-[630px] mx-auto;
  }
}

@layer components {

  /*! ====== Header section ====== */
  .searchbox,
  #info-btn {
    @apply flex items-center bg-glass-background backdrop-blur-primary shadow-glass rounded-full;
  }

  #info-btn {
    @apply size-10 justify-center grow-0 shrink-0 cursor-pointer lg:size-11;
  }

  :where(.search-btn, #info-btn) {
    @apply hover:[&_.icon]:text-primary active:[&_.icon]:text-primary;
  }

  :where(.search-btn, #info-btn) .icon {
    @apply text-icon text-[26px] transition-colors duration-200 lg:text-[28px];
  }

  .searchbox {
    @apply h-10 relative grow shrink md:w-100 lg:h-11;
  }

  .searchbox .search-btn {
    @apply size-10 absolute left-0 top-1/2 -translate-y-1/2 flex items-center justify-center bg-transparent rounded-full cursor-pointer md:left-1;
  }

  #input-city {
    @apply size-full pl-11 pr-3 bg-transparent font-dana-medium rounded-full outline-primary/50 ring-primary transition-[outline] duration-100 placeholder:text-primary-text md:pl-12;
  }

  #input-city:focus {
    @apply outline-4 outline-solid ring-1;
  }

  /*! ====== Main section ====== */
  /** City name section */
  .city-wrapper {
    @apply w-fit mx-auto px-4 py-1 flex items-center justify-center gap-x-1 bg-glass-background backdrop-blur-primary shadow-glass rounded-full;
  }

  /** Weather content section */
  .search-status {
    @apply w-full p-2 flex items-center justify-center bg-glass-background backdrop-blur-primary shadow-glass rounded-full;
  }

  /** Temp and date section */
  .temp-wrapper .icon {
    @apply text-icon text-[4.9rem] md:text-[5.2rem] lg:text-[5.9rem] xl:text-[6.4rem];
  }

  .temp {
    @apply relative font-poppins-bold text-5xl md:text-[55px] lg:text-[65px] xl:text-7xl;
  }

  .temp::after {
    content: "°";
    @apply absolute text-4xl md:text-[45px] lg:text-[55px] xl:text-6xl;
  }

  .date {
    @apply text-secondary-text text-[15px] -mt-2 md:text-base lg:text-[17px];
  }

  /*! ====== More info weather section ====== */
  /** Humidity, wind and pressure section */
  .humidity-wrapper,
  .wind-wrapper,
  .pressure-wrapper {
    @apply px-2 flex flex-col items-center justify-start gap-y-1 grow shrink rounded-2xl;
  }

  .icon-wrapper {
    @apply mb-1 flex;
  }

  .icon-wrapper .icon {
    @apply text-[22px] text-icon lg:text-[24px];
  }

  .humidity,
  .wind,
  .pressure {
    @apply text-primary-text;
  }

  .humidity-title,
  .wind-title,
  .pressure-title {
    @apply text-secondary-text;
  }

  /*! ====== info container ====== */
  .info-container {
    @apply absolute inset-0 flex items-center justify-center bg-glass-background backdrop-blur-lg z-10;
  }

  .info-container .card {
    @apply bg-glass-background w-55 p-4 relative flex flex-col items-center justify-between gap-4 rounded-4xl shadow-glass md:w-110 md:flex-row;
  }

  /** Content section */
  .img-wrapper,
  .content-wrapper,
  .socials-wrapper {
    @apply flex items-center justify-center;
  }

  .content-wrapper {
    @apply flex-col gap-y-1 md:items-start;
  }

  /** Socials section */
  .socials-wrapper {
    @apply gap-x-4 gap-y-1 md:flex-col;
  }

  .social,
  .social-link {
    @apply flex items-center justify-center rounded-full;
  }

  .social {
    @apply bg-glass-background size-8 p-0.5 shadow-glass;
  }

  .social .icon {
    @apply text-icon text-xl;
  }

  .social-link {
    @apply bg-primary size-full transition-colors duration-100 ease-in-out hover:bg-secondary active:bg-secondary;
  }
}