@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/PoppinsLatin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../assets/fonts/PoppinsLatin-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-regular";
  src: url("../assets/fonts/PoppinsLatin-Regular.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #00A6F4;
  --color-base-background: #FFFFFF;
  --color-primary-text: #000000;
  --color-secondary-text: #7D7D7D;
  --color-glass-background: rgba(255, 255, 255, 0.2);
  --color-svg: #000000;
  /* Fonts */
  --font-poppins-bold: "poppins-bold";
  --font-poppins-medium: "poppins-medium";
  --font-poppins-regular: "poppins-regular";
  /* Shadows */
  --shadow-glass: 0px 8px 31px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  /* Backdrop Blur */
  --backdrop-blur-primary: 5px;
  /* Animates */
  --animate-horizontal-move: horizontal-move 3s linear infinite;

  @keyframes horizontal-move {
    0%,
    100% {
      transform: translateX(-10px);
    }

    50% {
      transform: translateX(10px);
    }
  }
}

@layer base {
  input {
    outline: none;
  }
}

@layer utilities {
  .container {
    @apply max-w-[1500px] h-full mx-auto;
  }
}

@layer components {
  body {
    @apply font-poppins-medium text-sm lg:text-[15px] xl:text-base;
  }

  /* Header Section */
  #header,
  #main {
    @apply max-w-[630px] mx-auto;
  }

  #theme-btn,
  .searchbox,
  #info-btn {
    @apply bg-glass-background backdrop-blur-primary flex items-center shadow-glass rounded-full [&_svg]:fill-primary-text [&_svg]:size-5;
  }

  #theme-btn,
  #info-btn {
    @apply size-10 justify-center cursor-pointer [&_svg]:transition-colors [&_svg]:duration-200 hover:[&_svg]:fill-primary active:[&_svg]:fill-primary;
  }

  /* Main Section */
  .day,
  .clock {
    @apply text-primary-text text-[15px] md:text-base lg:text-lg;
  }

  .humidity-wrapper,
  .wind-wrapper,
  .pressure-wrapper {
    @apply p-2 flex flex-col justify-start gap-y-2 rounded-xl;
  }

  .humidity-icon,
  .wind-icon,
  .pressure-icon {
    @apply [&>svg]:fill-svg [&>svg]:size-5 lg:[&>svg]:size-6;
  }

  .humidity-title,
  .wind-title,
  .pressure-title {
    @apply text-primary-text;
  }

  .humidity,
  .wind,
  .pressure {
    @apply font-poppins-bold text-primary-text;
  }
}