@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/PoppinsLatin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../assets/fonts/PoppinsLatin-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-regular";
  src: url("../assets/fonts/PoppinsLatin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "dana-bold";
  src: url("../assets/fonts/Dana-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "dana-medium";
  src: url("../assets/fonts/Dana-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "dana-regular";
  src: url("../assets/fonts/Dana-Regular.ttf") format("truetype");
}


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary: #00BCFF;
  --color-secondary: #0084D1;
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #D1D5DC;
  --color-base-background: #E5E7EB;
  --color-glass-background: rgba(255, 255, 255, 0.2);
  --color-icon: #FFFFFF;
  /* Fonts */
  --font-poppins-bold: "poppins-bold";
  --font-poppins-medium: "poppins-medium";
  --font-poppins-regular: "poppins-regular";
  --font-dana-bold: "dana-bold";
  --font-dana-medium: "dana-medium";
  --font-dana-regular: "dana-regular";
  /* Shadows */
  --shadow-glass: 0px 8px 31px rgba(0, 0, 0, 0.1), inset 1px 1px 0px rgba(255, 255, 255, 0.5), inset -1px -1px 0px rgba(255, 255, 255, 0.2);
  /* Backdrop Blur */
  --backdrop-blur-primary: 5px;
}

@layer base {
  body {
    @apply bg-base-background text-primary-text font-poppins-medium text-sm lg:text-[15px] xl:text-base;
  }
}

@layer utilities {
  .container {
    @apply max-w-[630px] mx-auto;
  }
}

@layer components {

  /*! ====== Header section ====== */
  #ciry-search-form,
  #info-btn {
    @apply flex items-center bg-glass-background backdrop-blur-primary shadow-glass rounded-full;
  }

  #info-btn {
    @apply size-10.5 justify-center grow-0 shrink-0 cursor-pointer lg:size-11;
  }

  :where(.search-btn, #info-btn) {
    @apply hover:[&_.icon]:text-secondary active:[&_.icon]:text-secondary;
  }

  :where(#ai-btn, .search-btn, #info-btn) .icon {
    @apply text-icon text-[26px] transition-colors duration-200 lg:text-[28px];
  }

  #ciry-search-form {
    @apply h-10.5 relative grow shrink md:w-100 lg:h-11;
  }

  #ciry-search-form .search-btn {
    @apply size-10 absolute left-1 top-1/2 -translate-y-1/2 flex items-center justify-center bg-transparent rounded-full cursor-pointer;
  }

  #city-input {
    @apply size-full pl-12 pr-3 bg-transparent font-dana-medium rounded-full outline-secondary/50 ring-secondary transition-[outline] duration-100 placeholder:text-primary-text;
  }

  #city-input:focus {
    @apply outline-4 outline-solid ring-1;
  }

  /*! ====== Main section ====== */
  /** City name section */
  .city-wrapper {
    @apply w-fit mx-auto px-4 py-1 flex items-center justify-center gap-x-1 bg-glass-background backdrop-blur-primary shadow-glass rounded-full;
  }

  /** Weather content section */
  .search-status {
    @apply w-full p-2 flex items-center justify-center bg-glass-background backdrop-blur-primary shadow-glass rounded-full;
  }

  /** Temp and date section */
  .temp-wrapper .icon {
    @apply text-icon text-[5.5rem] md:text-[5.7rem] lg:text-[6rem] xl:text-[6.5rem];
  }

  .temp {
    @apply relative font-poppins-bold text-6xl md:text-[4rem] lg:text-[4.25rem] xl:text-[4.6rem];
  }

  .temp::after {
    content: "°";
    @apply absolute text-4xl md:text-[45px] lg:text-[55px] xl:text-6xl;
  }

  .date {
    @apply text-secondary-text text-[15px] md:text-base lg:text-[17px];
  }

  /*! ====== More info weather section ====== */
  /** Humidity, wind and pressure section */
  .humidity-wrapper,
  .wind-wrapper,
  .pressure-wrapper {
    @apply px-2 flex flex-col items-center justify-start gap-y-1 grow shrink rounded-2xl;
  }

  .icon-wrapper {
    @apply mb-1 flex;
  }

  .icon-wrapper .icon {
    @apply text-[22px] text-icon lg:text-[24px];
  }

  .humidity,
  .wind,
  .pressure {
    @apply text-primary-text;
  }

  .humidity-title,
  .wind-title,
  .pressure-title {
    @apply text-secondary-text;
  }

  /*! ====== AI suggestion ====== */
  .suggestion-wrapper {
    @apply p-4 space-y-2 font-dana-medium bg-glass-background backdrop-blur-primary rounded-3xl shadow-glass;
  }

  .suggestion-title {
    @apply font-dana-bold;
  }
  
  /*! ====== info container ====== */
  .info-container {
    @apply absolute inset-0 flex items-center justify-center bg-glass-background backdrop-blur-lg z-10;
  }

  .info-container .card {
    @apply bg-glass-background w-55 p-4 relative flex flex-col items-center justify-between gap-4 rounded-4xl shadow-glass md:w-110 md:flex-row;
  }

  /** Content section */
  .img-wrapper,
  .content-wrapper,
  .socials-wrapper {
    @apply flex items-center justify-center;
  }

  .content-wrapper {
    @apply flex-col gap-y-1 md:items-start;
  }

  /** Socials section */
  .socials-wrapper {
    @apply gap-x-4 gap-y-1 md:flex-col;
  }

  .social,
  .social-link {
    @apply flex items-center justify-center rounded-full;
  }

  .social {
    @apply bg-glass-background size-8 p-0.5 shadow-glass;
  }

  .social .icon {
    @apply text-icon text-xl;
  }

  .social-link {
    @apply bg-primary size-full transition-colors duration-100 ease-in-out hover:bg-secondary active:bg-secondary;
  }

  /*! ====== Chatbot section ====== */
  .ai-container {
    @apply fixed bottom-4 right-4 font-dana-medium text-black z-9 md:bottom-10 md:right-10;
  }

  #ai-btn {
    @apply size-13.5 flex items-center justify-center bg-linear-to-br from-[#FF6F61] to-[#6FA3EF] shadow-glass rounded-full cursor-pointer lg:size-15;
  }

  .chat-container {
    @apply size-0 p-4 flex flex-col gap-y-5 absolute -bottom-4 -right-4 bg-linear-to-br from-[rgba(255,111,97,0.5)] to-[rgba(111,163,239,0.5)] backdrop-blur-lg opacity-0 -z-1 overflow-hidden transition-[width,height,opacity] duration-300 md:bottom-0 md:right-0 md:rounded-4xl;
  }

  .chat-container.open {
    @apply w-dvw h-dvh opacity-100 z-0 md:w-100 md:h-160;
  }

  .chat-title,
  .closex-btn,
  #chatbot-form {
    @apply flex items-center bg-white rounded-full;
  }

  .closex-btn {
    @apply size-11 justify-center grow-0 shrink-0 cursor-pointer transition-colors duration-200 hover:bg-white/80 active:bg-white/80 [&_.icon]:text-xl;
  }

  /** AI message of the chatbot */
  .ai-message {
    @apply flex items-end gap-x-2 self-end;
  }

  .ai-message .text-message {
    @apply w-full p-2 bg-white font-dana-regular text-black leading-[1.6rem] whitespace-pre-line rounded-2xl rounded-bl-sm lg:text-[15px];
  }

  .ai-message .text-message .icon {
    @apply flex text-xl;
  }

  .ai-message .ai-icon {
    @apply size-8 flex items-center justify-center grow-0 shrink-0 bg-white rounded-full text-lg text-secondary lg:size-9 lg:text-xl;
  }

  /** User message of the chatbot */
  .user-message {
    @apply self-start;
  }

  .user-message .text-message {
    @apply p-2 bg-secondary font-dana-regular text-white leading-[1.6rem] rounded-2xl rounded-br-sm;
  }

  /** Footer of the chatbot */
  .chatbot-send-btn {
    @apply size-10 flex items-center justify-center grow-0 shrink-0 bg-primary rounded-full cursor-pointer transition-colors duration-200 hover:bg-secondary active:bg-secondary [&_.icon]:text-2xl [&_.icon]:text-white;
  }
  
}