@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/PoppinsLatin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../assets/fonts/PoppinsLatin-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-regular";
  src: url("../assets/fonts/PoppinsLatin-Regular.ttf") format("truetype");
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary: #00A6F4;
  --color-base-background: #FFFFFF;
  --color-dark-base-background: #030712;
  --color-primary-text: #000000;
  --color-secondary-text: #7D7D7D;
  --color-dark-primary-text: #FFFFFF;
  --color-glass-background: rgba(255, 255, 255, 0.2);
  --color-dark-glass-background: rgba(0, 0, 0, 0.2);
  --color-svg: #000000;
  --color-dark-svg: #FFFFFF;
  /* Fonts */
  --font-poppins-bold: "poppins-bold";
  --font-poppins-medium: "poppins-medium";
  --font-poppins-regular: "poppins-regular";
  /* Shadows */
  --shadow-glass: 0px 8px 31px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  --shadow-dark-glass: 0px 8px 31px rgba(116, 114, 130, 0.1), inset 0px 1px 0px rgba(116, 114, 130, 0.5), inset 0px -1px 0px rgba(116, 114, 130, 0.2);
  /* Backdrop Blur */
  --backdrop-blur-primary: 5px;
  /* Animates */
  --animate-horizontal-move: horizontal-move 3s linear infinite;

  @keyframes horizontal-move {
    0%,
    100% {
      transform: translateX(-10px);
    }

    50% {
      transform: translateX(10px);
    }
  }
}

/* @layer base {
  input {
    outline: none;
  }
} */

@layer utilities {
  .container {
    @apply max-w-[1500px] h-full mx-auto;
  }
}

@layer components {
  body {
    @apply bg-base-background text-primary-text font-poppins-medium text-sm dark:bg-dark-base-background dark:text-dark-primary-text lg:text-[15px] xl:text-base;
  }

  /* Header Section */
  #header,
  #main {
    @apply max-w-[630px] mx-auto;
  }

  #theme-btn,
  .searchbox,
  #info-btn {
    @apply bg-glass-background backdrop-blur-primary flex items-center shadow-glass rounded-full dark:bg-dark-glass-background dark:shadow-dark-glass [&_svg]:fill-svg [&_svg]:size-5 dark:[&_svg]:fill-dark-svg;
  }

  #theme-btn,
  #info-btn {
    @apply size-10 justify-center cursor-pointer lg:size-11 [&_svg]:transition-colors [&_svg]:duration-200 hover:[&_svg]:fill-primary active:[&_svg]:fill-primary;
  }

  /* Main Section */
  .day,
  .clock {
    @apply text-primary-text text-[15px] dark:text-dark-primary-text md:text-base lg:text-lg;
  }

  .humidity-wrapper,
  .wind-wrapper,
  .pressure-wrapper {
    @apply p-2 flex flex-col justify-start gap-y-2 rounded-xl;
  }

  .humidity-icon,
  .wind-icon,
  .pressure-icon {
    @apply [&>svg]:fill-svg dark:[&>svg]:fill-dark-svg [&>svg]:size-5 lg:[&>svg]:size-6;
  }

  .humidity-title,
  .wind-title,
  .pressure-title {
    @apply text-primary-text dark:text-dark-primary-text;
  }

  .humidity,
  .wind,
  .pressure {
    @apply font-poppins-bold text-primary-text dark:text-dark-primary-text;
  }

  /*! --- Info Section --- */
  .info-container {
    @apply bg-glass-background backdrop-blur-lg absolute inset-0 flex items-center justify-center z-20 dark:bg-dark-glass-background;
  }

  /* Content Card */
  .info-container .card {
    @apply bg-glass-background w-55 p-4 relative flex flex-col items-center justify-between gap-4 rounded-3xl shadow-glass dark:bg-dark-glass-background dark:shadow-dark-glass md:w-110 md:flex-row;
  }

  .img-wrapper,
  .content-wrapper,
  .socials-wrapper {
    @apply flex items-center justify-center;
  }

  /* Image & Content Wrapper */
  .developer-img {
    @apply size-20 object-cover object-center rounded-full lg:size-22;
  }

  .content-wrapper {
    @apply flex-col gap-y-1 md:items-start;
  }

  .developer-name {
    @apply font-poppins-bold text-base lg:text-lg;
  }

  .developer-info {
    @apply text-secondary-text lg:text-base;
  }

  /* Socials Wrapper */
  .socials-wrapper {
    @apply gap-x-4 gap-y-1 md:flex-col;
  }

  .socials-wrapper .social,
  .socials-wrapper .social a {
    @apply flex items-center justify-center rounded-full;
  }

  .socials-wrapper .social {
    @apply bg-glass-background size-8 p-0.5 shadow-glass [&_svg]:fill-white [&_svg]:size-5;
  }

    .socials-wrapper .social a {
    @apply bg-primary size-full;
  }
}